{% extends 'lunch/base.html' %}

{% block content %}
<div class="card-block">
	<h4 class="card-title">Add a meal for {{ restaurant }}</h4>
</div>
<div class="card-block">

	<form action="{% url 'lunch:add_meal' restaurant.id %}" method="post">
		{% csrf_token %}

		<fieldset class="form-group">
		  <input type="text" id="mealOption" class="form-control" placeholder="e.g. {{suggestion|default_if_none:'Pizza'}}">
		</fieldset>
		
	</form>

	<div class="card-block">
		<a href="#" class="card-link">add</a>
		<a class="card-link" href="{% url 'lunch:restaurant_detail' restaurant.id %}">back</a>
	</div>
</div>


{% endblock %}