{% load staticfiles %}

<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Lunchy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'lunch/style.css' %}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>
  
  <div class="container">
  	<div id="app-container" class="card">
  		{% block content %}{% endblock content %}
  	</div>
  </div>

  <footer class="footer">
    <div class="container">
      {% block footer %}
      {% endblock footer %}
    </div>
  </footer>

  {% block javascript %}
  {% endblock javascript %}
</body>
</html>