{% extends 'lunch/base.html' %}

{% block content %}

{% if meal_option and restaurant or restaurant %}
	<div class="card-block">
		<h4 class="card-title">Not sure what to get for lunch?</h4>
	</div>
	<div id="meal-suggestion">
		{% comment %} Restaurant and meal suggestion {% endcomment %}
		{% if meal_option and restaurant %}
			<p class="lead">
				How about {{ meal_option }} from <a href="{% url 'lunch:restaurant_detail' restaurant.id %}">{{ restaurant }}</a>?
			</p>
		{% comment %} Restaurant suggestion without meal {% endcomment %}
		{% elif restaurant %}
			<p class="lead">
				How about something from <a href="{% url 'lunch:restaurant_detail' restaurant.id %}">{{ restaurant }}</a>?
			</p>
		{% endif %}
	</div>

	<div class="card-block text-xs-center">
		<a class="card-link" href="{% url 'lunch:index' %}">nope, something else</a>
	</div>
{% comment %} No restaurants {% endcomment %}
{% else %}
	<p class="lead">Sadly, there are currently no meal options available :(</p>
	<p class="lead">Start by <a href="{% url 'lunch:add_restaurant' %}">adding one</a>!</p>
	<!-- todo: link to add restaurants here -->
{% endif %}

{% endblock %}

{% block footer %}
	<a href="{% url 'lunch:add_restaurant' %}">Add a restaurant</a>
	<div class="pull-xs-right">
		<a title="Hack on GitHub" target="_blank" href="https://github.com/chlab/lunchy"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
	</div>
{% endblock %}