{% extends 'lunch/base.html' %}

{% block content %}

<div class="card-block">
	<h4 class="card-title">{{ restaurant }}</h4>
</div>

<div class="card-block">
	{% if restaurant.mealoption_set|length %}
		<p>Meal options at this place:</p>
		<ul class="list-group">
			{% for option in restaurant.mealoption_set.all %}
				<li class="list-group-item">{{ option.name }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>There are no meal options for this place yet. Why not add one:</p>
	{% endif %}

	<form action="{% url 'lunch:add_restaurant' %}" method="post">
		{% csrf_token %}
		<fieldset class="form-group">
		  <input type="text" id="mealOption" class="form-control" placeholder="e.g. {{suggestion|default_if_none:'Pizza'}}" autofocus>
		</fieldset>
	</form>
</div>

<div class="card-block">
	<a class="card-link" href="{% url 'lunch:index' %}">back</a>
</div>

{% endblock %}